%h1 Listing resources

%table.table.table-bordered
  %thead.thead-light
    %tr
      %th Url
      %th State
      %th

  %tbody
    - resources.each do |resource|
      %tr
        %td= resource.url
        %td= resource.state
        %td
          = link_to 'Show', resource
          |
          = link_to 'Edit', edit_resource_path(resource)
          |
          = link_to 'Destroy', resource, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Resource', new_resource_path
