!!!
%html{ lang: "en" }
  %head
    %meta{ content: "text/html; charset=UTF-8", "http-equiv" => "Content-Type" }
    %meta{ content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport" }
    %title= [content_for(:page_title), 'Bookmarks Keeper'].compact.uniq.join(" - ")
    = csrf_meta_tags
    = csp_meta_tag
    - if content_for? :meta_description
      %meta{ content: "#{content_for(:meta_description)}", name: "description" }/
    = stylesheet_link_tag 'application', media: 'all'
  %body.mb-5
    %header.container-fluid
      %nav.navbar.navbar-expand-lg.bg-light
        %a.navbar-brand.nav-link.text-dark{ href: root_path } Bookmarks Keeper
        %a.nav-link.text-dark{ href: resources_path } Resources
        %a.ml-auto.nav-link.text-dark{ href: "#" } Sign in
    %br
    %main.container-fluid
      = yield
    %br
    %footer.container-fluid
      .p-3.bg-light.small.text-center
        %span.text-muted &copy; 2021
        CodingIAm
    = javascript_pack_tag 'application'
